@import url('https://fonts.googleapis.com/css?family=Schoolbell');

/*-----------------------------------------------HEADER */

body {
    background-color: #D69A00;
    font-family: "schoolbell", sans-serif;
}



.logo {
    font-size: 3em;
}

.rules {
    text-align: right;
    margin: 5px 5px 0 0;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: #af6618;
}


.good-wish {
    font-size: 5em;
    text-align: center;
}

/*------------------------------------------------BUTTONS */

.game-buttons {
    text-align: center;
    padding-bottom: 25px;
}

.btn {
    font-size: 25px;
    background-color: #C67517;
    border-radius: 45%;
    text-decoration: none;
}

.btn:hover {
    background-color: #af6618;
}

#player-name {
    font-size: 22px;
    margin-top: 15px;
}

.highscores {
    text-align: center;
    padding-bottom: 5px;
    margin-top: -5px;
}

#highscore {
    font-size: 18px;
}


/* ------------------------------------------- MODAL */

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


/*----------------------------------------------GAME-FIELD */

#moves-count {
    position: absolute;
    margin: 0 0 0 -100px;
}

#moves {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #D69A00;
    color: black;
    text-align: center;
}

#lifes-count {
    position: absolute;
    margin: 0 0 0 530px;
}

#lifes-left {
    position: absolute;
    width: 100px;
    height: 50px;
    background-color: #D69A00;
    color: black;
    text-align: center;
}

.lifes-header {
    width: 200px;
}

#game-field {
    width: 500px;
    height: 500px;
    position: relative;
    margin: auto;
    padding: 0;

}

#red-field {
    width: 245px;
    height: 245px;
    position: absolute;
    margin: 245px 0 0 245px;
    border-style: solid;
    border-width: 6px;
    padding: 0;
    background-color: #A70000;
}

#blue-field {
    width: 245px;
    height: 245px;
    position: absolute;
    margin: 245px 245px 0 0;
    padding: 0;
    background-color: #313A89;
    border-style: solid;
    border-width: 6px;
}

#yellow-field {
    width: 245px;
    height: 245px;
    position: absolute;
    margin: 0 0 245px 0;
    padding: 0;
    background-color: #DFE300;
    border-style: solid;
    border-width: 6px;
}

#green-field {
    width: 245px;
    height: 245px;
    position: absolute;
    margin: 0 0 0 245px;
    padding: 0;
    background-color: #008E06;
    border-style: solid;
    border-width: 6px;
}
